.*{
	padding: 0;
	margin: 0;
}
* {
    border: none;
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", sans-serif !important;
}
.container{
	background-color: red;
	margin: 0;
	padding: 0;
	position: absolute;
}
/*.s{
	width: auto;
	height: auto;
}*/
.s img{
    vertical-align: middle;
}
.s>img{
    height: 100%;
}
.s1{
    width: 100%;
    height: 149px;
    margin-top: -2px;
}

.s2{
 	width: 100%;
    height: 134px;
    margin-top: -2px;
    /*height: 200px;*/
}
.s3{
 	width: 100%;
    height: 134px;
    margin-top: -2px;
}
.button{
    width: 23%;
    height: 53%;
/*    position: absolute;
    left: 54%;
    top: 30%;*/
}
.button a img{
    position: absolute;
    width: 210px;
    top: 313px;
    left: 58%;
    height: 93px;
}
.s4{
    width: 100%;
    height: 125px;
    margin-top: -2px;
}
.s5{
    width: 100%;
    height: 125px;
    margin-top: -2px; 
}
.s6{
    width: 100%;
    height: 134px;
    margin-top: -2px;
}
.s7{
    width: 100%;
    height: 134px;
    margin-top: -2px;
}
.s8{
    width: 100%;
    height: 200px;
    margin-top: -2px;
}
.s9{
    width: 100%;
    height: 134px;
    margin-top: -2px;
}
.s10{
    width: 100%;
    height: 134px;
    margin-top: -2px;
}
.buttom{
    /*position: absolute;*/
    width: 100%;
    background-color: #666262;
    height: 64px;
  /*  margin-top: 1979px;*/
    text-align: center;
    color: #fff;
    line-height: 18px;
    margin-top: -2px;
}
.buttom p{
    /*margin-top: 3px;*/
    margin-bottom: 0px;
    font-size: 10px;
    padding-top: 10px;
}
.buttom span{
    font-size: 15px;
}